<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Ren Xubo 😄</title>
    <link rel="icon" type="image/png"
          href="{{ asset('assets/images/favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/css/style.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/css/media.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/css/jquery.fancybox.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/css/font-awesome.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/css/owl.carousel.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/css/owl.theme.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/css/animate.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/css/jpushmenu.css') }}"/>
</head>
<body class="push-body">
<header id="main-navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"><a href="#" class="navbar-brand pull-right"></a>
                <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left"><a href="#" class="push_nav_brand">Ren
                        Xubo</a>
                    <ul class="push_nav">
                        <li><a class="active scroll" href="#home">Home</a></li>
                        <li><a class="scroll" href="#aboutme">About Me</a></li>
                        <li><a class="scroll" href="#mywork">My Work</a></li>
                        <li><a class="scroll" href="#contactmesec">Contact ME</a></li>
                    </ul>
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/profile.php?id=100004002800303" target="_blank"
                               class="fa"><i class="fa fa-fw fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/xubo-ren-149266ab/" target="_blank" class="fa"><i
                                        class="fa fa-fw fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/robertren1" target="_blank" class="fa gh"><i
                                        class="fa fa-fw fa-github"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="main-button left">
        <button class="toggle-menu menu-left push-body"><span></span> <span></span> <span></span></button>
    </div>
</div>

<!-- Info-->
<div id="home" class="row section">
    <div class="container info text-center">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="info_detail">
                    <div class="zoom"><img src="assets/images/robert.jpg" alt="alex">
                        <div class="zoom-overlay"></div>
                    </div>
                    <h3>Ren Xubo</h3>
                    <p>PHP Web Developer</p>
                    <!-- Social Icons -->
                    <div class="icons">
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100004002800303" target="_blank"
                                   class="fa fb"><i class="fa fa-fw fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/xubo-ren-149266ab/" target="_blank"
                                   class="fa in"><i class="fa fa-fw fa-linkedin"></i></a></li>
                            <li><a href="https://github.com/robertren1" target="_blank" class="fa gh"><i
                                            class="fa fa-fw fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="button"><a href="#contactmesec" data-target="contactmesec" class="btn active scroll">Contact Me</a>
            <a
                    href="#aboutme" data-target="aboutme" class="btn scroll">About Me</a></div>
    </div>
</div>

<!-- About -->
<div id="aboutme" class="row section">
    <div class="container career text-center">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="animate fadeInRight">
                    <div class="heading">
                        <h1>My Career Timeline</h1>
                        <p>Talented young professional with sound skills and training in Web Development is seeking an
                            opportunity to utilize qualifications as a Junior IT Web Developer.</p>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div id="text-demo" class="owl-carousel">
                        <div class="item text-center">
                            <h2>Web Design</h2>
                            <em>Hitachi Information Systems,<span> 2011-2012</span></em>
                            <p> Focused on Digi-Class system applied in Beijing Language and Culture University,
                                completed the function upgrade of Digi-Class system</p>
                        </div>
                        <div class="item text-center">
                            <h2>Master of Information Technology</h2>
                            <em>Monash University,<span> 2013-2014</span></em>
                            <p> Major in Internet and Web Application Development and Network Computing and Awarded the
                                Faculty of IT International Merit Scholarship in 2013 and 2014</p>
                        </div>
                        <div class="item text-center">
                            <h2>PHP Web Developer</h2>
                            <em>IPX.net,<span> 2015-2017</span></em>
                            <p> Develop a website from analysis and design stages, through coding, implementation and
                                testing to evaluation</p>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 skills text-center">
                    <div class="animate fadeInRight">
                        <div class="heading">
                            <h1>About me</h1>
                            <p>I'm a web developer with 2 years of professional experience. After I graduated from
                                Monash University, I'm working in an entrepreneurial company, using PHP Symfony
                                framework to establish the websites. </p>
                        </div>
                    </div>
                    <div class="animate bounceInUp">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="single-service">
                                    <i class="fa fa-keyboard-o"></i>
                                    <h2>Symfony Framework</h2>
                                    <p>Using PHP Symfony framework to establish the websites from backend to
                                        frontend</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-service">
                                    <i class="fa fa-code"></i>
                                    <h2>HTML, CSS & JQuery</h2>
                                    <p>Latest fronted technologies for faster and better responsive websites</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-service">
                                    <i class="fa fa-code-fork"></i>
                                    <h2>Github</h2>
                                    <p>Working cooperative with teammates by distributed version control tools</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Work -->

<div id="mywork" class="row section">
    <div class="container-fluid work text-center">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="animate fadeInRight">
                    <div class="head">
                        <h1>My Life</h1>
                    </div>
                </div>
                <div class="col-xs-12 work_filter text-center">
                    <div class="row">
                        <div class="animate fadeInLeft">
                            <ul class="breadcrumb">
                                <li><a href="#." class="filter active" data-filter="all">All</a></li>
                                <li><a href="#." class="filter" data-filter=".brand">Basketball</a></li>
                                <li><a href="#." class="filter" data-filter=".design">Badminton</a></li>
                                <li><a href="#." class="filter" data-filter=".photography">Photography</a></li>
                                <li><a href="#." class="filter" data-filter=".web">Game</a></li>
                            </ul>
                        </div>
                        <div class="gallery">
                            <div class="row">
                                <div class="mix web">
                                    <div class="mix_sec">
                                        <div class="imageContainer"><img class="sec" src="assets/images/work1.png"
                                                                         alt="work"> <a class="overlayText fancybox"
                                                                                        href="images/work1.png"
                                                                                        data-fancybox-group="gallery">
                                                <h4> Photo Chelenge </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                                    commodo ligula eget dolor.</p>
                                            </a></div>
                                    </div>
                                </div>
                                <div class="mix brand">
                                    <div class="mix_sec">
                                        <div class="imageContainer"><img class="sec" src="assets/images/work2.png"
                                                                         alt="work"> <a class="overlayText fancybox"
                                                                                        href="images/work2.png"
                                                                                        data-fancybox-group="gallery">
                                                <h4> Photo Chelenge </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                                    commodo ligula eget dolor.</p>
                                            </a></div>
                                    </div>
                                </div>
                                <div class="mix design">
                                    <div class="mix_sec">
                                        <div class="imageContainer"><img class="sec" src="assets/images/work3.png"
                                                                         alt="work"> <a class="overlayText fancybox"
                                                                                        href="images/work3.png"
                                                                                        data-fancybox-group="gallery">
                                                <h4> Photo Chelenge </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                                    commodo ligula eget dolor.</p>
                                            </a></div>
                                    </div>
                                </div>
                                <div class="mix web">
                                    <div class="mix_sec">
                                        <div class="imageContainer"><img class="sec" src="assets/images/work4.png"
                                                                         alt="work"> <a class="overlayText fancybox"
                                                                                        href="images/work4.png"
                                                                                        data-fancybox-group="gallery">
                                                <h4> Photo Chelenge </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                                    commodo ligula eget dolor.</p>
                                            </a></div>
                                    </div>
                                </div>
                                <div class="mix brand">
                                    <div class="mix_sec">
                                        <div class="imageContainer"><img class="sec" src="assets/images/work5.png"
                                                                         alt="work"> <a class="overlayText fancybox"
                                                                                        href="images/work5.png"
                                                                                        data-fancybox-group="gallery">
                                                <h4> Photo Chelenge </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                                    commodo ligula eget dolor.</p>
                                            </a></div>
                                    </div>
                                </div>
                                <div class="mix web">
                                    <div class="mix_sec">
                                        <div class="imageContainer"><img class="sec" src="assets/images/work2.png"
                                                                         alt="work"> <a class="overlayText fancybox"
                                                                                        href="images/work2.png"
                                                                                        data-fancybox-group="gallery">
                                                <h4> Photo Chelenge </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                                    commodo ligula eget dolor.</p>
                                            </a></div>
                                    </div>
                                </div>
                                <div class="mix photography">
                                    <div class="mix_sec">
                                        <div class="imageContainer"><img class="sec" src="assets/images/work4.png"
                                                                         alt="work"> <a class="overlayText fancybox"
                                                                                        href="images/work4.png"
                                                                                        data-fancybox-group="gallery">
                                                <h4> Photo Chelenge </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                                    commodo ligula eget dolor.</p>
                                            </a></div>
                                    </div>
                                </div>
                                <div class="mix photography">
                                    <div class="mix_sec">
                                        <div class="imageContainer"><img class="sec" src="assets/images/work5.png"
                                                                         alt="work"> <a class="overlayText fancybox"
                                                                                        href="images/work5.png"
                                                                                        data-fancybox-group="gallery">
                                                <h4> Photo Chelenge </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                                    commodo ligula eget dolor.</p>
                                            </a></div>
                                    </div>
                                </div>
                                <div class="mix design">
                                    <div class="mix_sec">
                                        <div class="imageContainer"><img class="sec" src="assets/images/work1.png"
                                                                         alt="work"> <a class="overlayText fancybox"
                                                                                        href="images/work1.png"
                                                                                        data-fancybox-group="gallery">
                                                <h4> Photo Chelenge </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                                    commodo ligula eget dolor.</p>
                                            </a></div>
                                    </div>
                                </div>
                                <div class="mix photography">
                                    <div class="mix_sec">
                                        <div class="imageContainer"><img class="sec" src="assets/images/work3.png"
                                                                         alt="work"> <a class="overlayText fancybox"
                                                                                        href="images/work3.png"
                                                                                        data-fancybox-group="gallery">
                                                <h4> Photo Chelenge </h4>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                                    commodo ligula eget dolor. </p>
                                            </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 title text-center">
                    <div class="animate fadeInRight">
                        <h1>Do you want to learn more about me?</h1>
                        <div class="getin"><a class="scroll" href="#contactmesec" data-target="contactmesec">Get In
                                Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- contact me -->
<div id="contactmesec" class="row section">
    <div class="container contact">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="animate fadeInRight">
                    <div class="heading">
                        <h1>Contact Me</h1>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12 field">
                    <div class="animate bounceInLeft">
                        <form role="form" action="{{ url('robert_send_message')}}" method="post">
                            <div class="user">
                                <input type="text" name="full_name" placeholder="Name"/>
                                <i class="fa fa-user" aria-hidden="true"></i></div>
                            <div class="user">
                                <input type="text" name="email_address" placeholder="Email"/>
                                <i class="fa fa-envelope" aria-hidden="true"></i></div>
                            <textarea name="apply_message" placeholder="Message here"></textarea>
                            <input type="submit" value="Submit Now"/>
                        </form>
                        {% if enquire_msg %} {{ enquire_msg }}{% endif %}
                    </div>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-12 contact_info">
                    <div class="animate bounceInRight">
                        <h3> Get In Touch</h3>
                        <div class="contact_sec">
                            <ul>
                                <li><i class="fa fa-phone"
                                       aria-hidden="true"></i><span>Phone: +61 (0)450 981 126</span></li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email: <a
                                                href="mailto:info@renxubo.me?Subject=Hello%20Ren Xubo" target="_top"> info@renxubo.me</a></span>
                                </li>
                            </ul>
                        </div>
                        <!-- Social Icons -->
                        <div class="contact_icons">
                            <ul>
                                <li><a href="https://www.facebook.com/profile.php?id=100004002800303" target="_blank"
                                       class="fa fb"><i class="fa fa-fw fa-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/xubo-ren-149266ab/" target="_blank"
                                       class="fa in"><i class="fa fa-fw fa-linkedin"></i></a></li>
                                <li><a href="https://github.com/robertren1" target="_blank" class="fa gh"><i
                                                class="fa fa-fw fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 footer text-center">
                    <div class="animate fadeInLeft">
                        <p> &copy; 2017 Robert Ren, All rights reserved. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#." class="cd-top">TOP</a>
<!--JS File-->
<script type="text/javascript"
        src="{{ asset('assets/js/jquery-2.2.3.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/js/jquery.circliful.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/js/jquery.mixitup.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/js/jquery.fancybox.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/js/waypoints.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/js/jquery.appear.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/js/jpushmenu.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/js/owl.carousel.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/js/functions.js') }}"></script>
</body>
</html>